@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&family=Ubuntu:ital,wght@0,300;1,300&family=Varela+Round&display=swap');
body{
    font-family: 'Tiro Devanagari Hindi', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    
}
body{

    border: 5px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    background-color: white;

}
*{
    margin: 0;
    padding: 0;

}
 body li h2{

    font-size: 2.2em;
    padding: 0px 0px 0px 20px;
}
body li  h3{
     padding: 0px 0px 0px 80px;  }   /* top, ,down  */


  img{
    <!-- display flex line breaker (repor ko logo ki nichhi laiha)-->
    display: flex: ;
    align-items: center;
    list-style-type: none;
    background-color: white;
    height: 80px;
    align-items: centers;
    margin: 10px;
    padding: 10px;
    

}
 
.brand{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
 
table tr th{
    width: 20px;
    border: 4px solid black;
    border-collapse: collapse;
}
table tr td{
    
    border: 2px solid black;
    border-collapse: collapse;
    align-items: center;

}
table{
    border-collapse: collapse;
}
input[type=text] ,input[type=number]{
    width: 100%;
    padding: 15px 5px;
    margin: 0px 0;
    box-sizing: border-box;
    text-align: center;
    color: blue ;
    font-size: 30px;
  }
h3{
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}
#s11,#s12,#s21,#s22,#s31,#s32,#s41,#s42,#s51,#s52,#s61,#s62,#s71,#s72,#s81{
    width: 36%;
    padding: 5px 0px 8px 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    color: blue ;
    font-size: 15px;
    //border: none;    // FOR HIDDING BORDER 
}
#s1,#sf1,#sf2{
    width: 50%;
    padding: 5px 0px 8px 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    color: blue ;
    font-size: 15px;
    border: none;

}
#profit{
    text-align: center;
    size-adjust: 10px;
    font-size: 30px;
}
#pro{
    text-align: center;
    font-size: 50px;
}

#pmal5{
    color:red;
    background-color: rgb(7, 125, 125);    
}
#rowp{
    background-color: aquamarine;
}
